In [84]:
import pandas as pd
import numpy as np

In [85]:
animals_data = pd.read_csv(f'../Animal_Shelter_Intake_and_Outcome.csv', low_memory=False)

In [86]:
animals_data.columns

Index(['Name', 'Type', 'Breed', 'Color', 'Sex', 'Size', 'Date Of Birth',
       'Impound Number', 'Kennel Number', 'Animal ID', 'Intake Date',
       'Outcome Date', 'Days in Shelter', 'Intake Type', 'Intake Subtype',
       'Outcome Type', 'Outcome Subtype', 'Intake Condition',
       'Outcome Condition', 'Intake Jurisdiction', 'Outcome Jurisdiction',
       'Outcome Zip Code', 'Location', 'Count'],
      dtype='object')

In [87]:
# Just get the columns for the animal
animals = animals_data[["Name", "Type", "Breed", "Color", "Sex", "Size", "Date Of Birth", "Animal ID"]]
newNames = {
    "Name": "name",
    "Type": "type",
    "Breed": "breed",
    "Color": "color",
    "Sex": "sex",
    "Size": "size",
    "Date Of Birth": "date_of_birth",
    "Animal ID": "animal_id"
}
animals = animals.rename(columns=newNames)
animals = animals.drop_duplicates(subset='animal_id', keep="first")
animals['date_of_birth'] = pd.to_datetime(animals['date_of_birth'])

In [88]:
animals_data.columns

Index(['Name', 'Type', 'Breed', 'Color', 'Sex', 'Size', 'Date Of Birth',
       'Impound Number', 'Kennel Number', 'Animal ID', 'Intake Date',
       'Outcome Date', 'Days in Shelter', 'Intake Type', 'Intake Subtype',
       'Outcome Type', 'Outcome Subtype', 'Intake Condition',
       'Outcome Condition', 'Intake Jurisdiction', 'Outcome Jurisdiction',
       'Outcome Zip Code', 'Location', 'Count'],
      dtype='object')

In [89]:
# Just get the columns for the intake
animal_intake = animals_data[[
    "Animal ID", 
    "Intake Date", 
    "Outcome Date", 
    "Days in Shelter", 
    "Intake Type", 
    "Intake Subtype", 
    "Outcome Type", 
    "Outcome Subtype",
    "Intake Condition",
    "Outcome Condition",
    "Intake Jurisdiction", 
    "Outcome Jurisdiction",
    "Outcome Zip Code",
    "Location",
    "Count"
    ]]

new_intake_names = {
    "Animal ID": "animal_id",
    "Intake Date": "intake_date",
    "Outcome Date": "outcome_date",
    "Days in Shelter": "days_in_shelter",
    "Intake Type": "intake_type",
    "Intake Subtype": "intake_subtype",
    "Outcome Type": "outcome_type",
    "Outcome Subtype": "outcome_subtype",
    "Intake Condition": "intake_condition",
    "Outcome Condition": "outcome_condition",
    "Intake Jurisdiction": "intake_jurisdiction",
    "Outcome Jurisdiction": "outcome_jurisdiction",
    "Outcome Zip Code": "outcome_zip_code",
    "Location": "location",
    "Count": "count"
}

animal_intake = animal_intake.rename(columns=new_intake_names)
animal_intake['intake_date'] = pd.to_datetime(animal_intake['intake_date'])
animal_intake['outcome_date'] = pd.to_datetime(animal_intake['outcome_date'])
animal_intake['days_in_shelter']=animal_intake['days_in_shelter'].str.replace(',','')
animal_intake.astype({"days_in_shelter": 'int64'}).dtypes ## Somehow still gets inserted to db as text :(

animal_id                       object
intake_date             datetime64[ns]
outcome_date            datetime64[ns]
days_in_shelter                  int64
intake_type                     object
intake_subtype                  object
outcome_type                    object
outcome_subtype                 object
intake_condition                object
outcome_condition               object
intake_jurisdiction             object
outcome_jurisdiction            object
outcome_zip_code               float64
location                        object
count                            int64
dtype: object

In [90]:
from sqlalchemy import create_engine

In [91]:
db_url = "postgresql://pguser:pgpass@localhost:9001/animal-intake" 
engine = create_engine(db_url)
animals.to_sql(name='animals', con=engine, index=False)
animal_intake.to_sql(name='intake', con=engine, index=False)

engine.execute('ALTER TABLE animals ADD PRIMARY KEY (animal_id);')
engine.execute('ALTER TABLE intake ADD CONSTRAINT tk_animal_id FOREIGN KEY (animal_id) REFERENCES animals(animal_id);')